In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
df = sns.load_dataset('planets')

### Print/ Display the first 5 rows of dataframe

In [9]:
# your code hre
print(df.head(5))

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### Print/ Display the last 5 rows of dataframe

In [15]:
# your code here
print(df.tail(5))

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

### How many unique methods are there?

# your code here

### What is the number of data collected in each year?

In [18]:
# your code here
dataperyear = df['year'].value_counts()
print(dataperyear)

year
2011    185
2012    140
2013    118
2010    102
2009     98
2008     74
2007     53
2014     52
2005     39
2002     32
2006     31
2004     26
2003     25
2000     16
1999     15
2001     12
1996      6
1998      5
1992      2
1995      1
1997      1
1989      1
1994      1
Name: count, dtype: int64

### Which columns have missing values and how many?

In [22]:
kayıpveri = df.isnull().sum()
print(kayıpveri[kayıpveri > 0])

orbital_period     43
mass              522
distance          227
dtype: int64

### Write docstring for the function below.

In [28]:
def do_something(x, y, z):
    """
    
calculates the inverse of these numbers based on multiplication, then adds them and finally gets the inverse based on multiplication

    """   

    result = 1 / x + 1 / y + 1 / z

    return 1 / result

### Get (print) the docstring of the function defined above.

In [29]:
print(do_something.__doc__)

calculates the inverse of these numbers based on multiplication, then adds them and finally gets the inverse based on multiplication

### Call do_something function for the (11,13,15) values and save it as result

In [33]:
result = do_something(11,13,15)
print(result)

4.26441351888668

### In the variable 's' containing a sentence, extract the word using result defined above as index

In [34]:
s = "I love Machine Learning and Deep Learning"

# use int() to convert the result to integer
# your code here
result = int(result)
kelimeler = s.split()
cıkarılankelime = kelimeler[result-1]
print(cıkarılankelime)

Learning

### Sort the given array below, do not use built in functions. All sorting methods are allowed.

In [44]:
import random
i = 0

arr = [random.randint(1, 100) for i in range(10)]

# your code here
n = len(arr)
for i in range(n):
    for j in range(0, n - i - 1):
        if arr[j] > arr[j + 1]:
             arr[j], arr[j + 1] = arr[j + 1], arr[j]
print(arr)

[3, 20, 44, 44, 47, 74, 76, 84, 90, 94]

### define a recursive function to calculate input numbers factorial named factorial

In [ ]:
# your code here
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        fact = 1
        for i in range(2, n + 1):
            fact *= i
        return fact

### define a function to merge the given arrays and calculate the median named twoMedian

In [3]:
# your code here
def twoMedian(arr1, arr2):
    sıra = sort(arr1 + arr2) 

    sayı = len(merged)
    
    
    if sayı % 2 != 0:
    
        median = sıra[length // 2]
    
    median = (sıra[sayı // 2 - 1] + sıra[sayı // 2]) / 2